@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@font-face {
    font-family: 'yasa'; /* 任意のフォント名 */
    src: url('../font/07YasashisaAntique.otf') format("opentype"), /* フォントファイルへのパス */
  }
  @font-face {
    font-family: 'killme'; /* 任意のフォント名 */
    src: url('../font/GN-KillGothic-U-KanaNB.ttf') format("truetype"), /* フォントファイルへのパス */
  }


h1 {
    color:brown;
    font-family: 'Itim',"Cherry Bomb One", 'yasa' ,cursive;
}

.txt{
    width: 100px;
    text-align: right;
}

.main{
    align-items: center;
    text-align: center;
    background-color:rgb(253,209,104);
    padding:10px;
    margin:3px;
}

.ico {
    height: 50%;
    width: 50%;
}

.resultSum{
    height: 10vh;
    font-family:'yasa';
    max-height: 10vh;
    object-fit:contain;
    text-align: center;
    border: 3px solid;
    border-color: gold;
    margin:5px auto;
    align-items: center;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    padding:2px;
    border: 5px solid;
    border-image: conic-gradient(#f5f551,#5eff5e,#84a1ff,#ff45ff,#ff5a5a,#ffbc41,#f5f551) 1;
    height: 10vh;
}

.sumChild{
    margin:5px;
}

.resultLine{
    font-family:'yasa';
    max-height: 10vh;
    object-fit:contain;
    text-align: center;
    border: 3px solid;
    border-color: brown;
    margin:5px auto;
    align-items: center;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding:2px;
}


.names{
    flex-grow:3;
}

.resultImg{
    height: 9vh;
    object-fit: contain;
    vertical-align: middle;
    margin:5px auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.donut {
    background-color:brown;
    height:5vh;
    min-width: 75px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin:15px;
    padding:4px;
    font-family:'killme';
    color:white;
}

.pie {
    background-color:orangered;
    height:5vh;
    min-width: 75px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin:15px;
    padding:4px;
    font-family:'killme';
    color:white;
}

.muffin {
    background-color:darkorange;
    height:5vh;
    min-width: 75px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin:15px;
    padding:4px;
    font-family:'killme';
    color:white;
}

.topping{
    background-color:cornsilk;
    height:5vh;
    min-width: 75px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin:15px;
    padding:4px;
    font-family:'killme';
    color:black;
}

.hotdog{
    background-color:red;
    height:5vh;
    min-width: 75px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin:15px;
    padding:4px;
    font-family:'killme';
    color:rgb(255, 255, 255);
}

.drink{
    background-color:aquamarine;
    height:5vh;
    min-width: 75px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin:15px;
    padding:4px;
    font-family:'killme';
    color:black;
}